img {
  height: 10vmin;
  pointer-events: none;
  margin: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  text-align: center;
}

.textEditor {
  height: 80vh;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  place-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

span,
.textBox {
  border: .5px solid grey;
  border-radius: 4px;
}

span {
  display: inline;
  padding: 10px 30px;
  margin: 4px 8px;
}

.textBox {
  margin: 4px 0;
  width: 950px;
  background-color: transparent;
  height: 70vh;
  outline: none;
  text-align: left;
  vertical-align: baseline;
}

nav {
  margin: 10px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
}

